body {
    background:  hsl(47, 88%, 63%);
    
}

#autor {
    display: flex;
    align-items: center;
}


.imagem {
    background: white;
    
    width: 330px;
    height: 430px;
    padding: 20px 0px;
    margin: 90px auto;

    border-radius: 20px;
    border-style: solid;
    border-width: 1px;

    box-shadow: 10px 10px black;
}

img {
    width: 310px;
    border-radius: 20px;
    margin-left: 10px;
}

.texto {
    padding: 0px 10px;
    display:inline-block;
}

#Learning {
    background: hsl(47, 88%, 63%);
    width: 110px;
    height: 25px;
    font-size: 20px;

    border-radius: 7px;
    text-align: center;
}

#subtitulo {
    font-size: 22px;
}

#subtitulo:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
} 

#img-autor {
    width: 35px;
    height: 35px;
}

#nome {
    font-size: 15px;
    padding-left: 15px;
}

p {
    color: gray;
}